<div class="content">
  <div class="schedule-section mini-section" id="schedule-section">
    <div class="row">
      <div class="col-md-5 header schedule-header">
        <h2>SCHEDULE</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 schedule-table">
        <h5 class="table-header">Saturday, November 21</h5><table class="table">
        <tbody><tr>

        </tr>
        <tr>
          <td class="table-time">
            7:00am
          </td>
          <td>
            Sponsor Check-In and Setup
          </td>
        </tr>
        <tr>
          <td class="table-time">
            7:30am
          </td>
          <td>
            Breakfast: Einstein's Bagels <br>
            Sponsored by Tanvas
          </td>
        </tr>
        <tr class="table-time">
          <td>
            8:30am
          </td>
          <td>
            Participant Check-In
          </td>
        </tr>
        <tr>
          <td class="table-time">
            10:30am
          </td>
          <td>
            Opening Ceremony
          </td>
        </tr>
        <tr class="hacking-row">
          <td class="table-time">
            <strong>11:30am</strong>
          </td>
          <td>
            <strong>Hacking Begins</strong>
          </td>
        </tr>
        <tr>
          <td class="table-time">
            12:30pm
          </td>
          <td>
            Lunch: Chipotle <br>
            Sponsored by IMC Financial
          </td>
        </tr>
        <tr>
          <td class="table-time">
            2:00pm
          </td>
          <td>
            Microsoft Tech Talk<br>
            Building Your First Node.js App and Publishing to Azure
          </td>
        </tr>
        <tr>
          <td class="table-time">
            2:45pm
          </td>
          <td>
            HP Tech Talk<br>
            Harnessing the Power of Unstructured Data using Haven OnDemand
          </td>
        </tr>
        <tr>
          <td class="table-time">
            3:30pm
          </td>
          <td>
            IBM Tech Talk<br>
            Introduction to Bluemix
          </td>
        </tr>
        <tr>
          <td class="table-time">
            4:00pm
          </td>
          <td>
            Afternoon Snack: Portillos <br>
            Sponsored by IBM
          </td>
        </tr>
        <tr>
          <td class="table-time">
            4:45pm
          </td>
          <td>
            PayPal/Braintree Tech Talk<br>
            Introduction to Braintree
          </td>
        </tr>
        <tr>
          <td class="table-time">
            7:00pm
          </td>
          <td>
            Dinner
          </td>
        </tr>
        <tr>
          <td class="table-time">
            7:00pm
          </td>
          <td>
            Game Room<br>
            Sponsored by Trustwave
          </td>
        </tr>
        <tr>
          <td class="table-time">
            9:30pm
          </td>
          <td>
            Insomnia Cookies and Hot Drink Bar<br>
            Sponsored by PayPal/Braintree
          </td>
        </tr>
        <tr>
          <td class="table-time">
            11:30pm
          </td>
          <td>
            Midnight Snack: Andy's Frozen Custard <br>
            Sponsored by Groupon
          </td>
        </tr>
        </tbody></table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 schedule-table">
        <h5 class="table-header">Sunday, November 22</h5><table class="table">
        <tbody><tr>

        </tr>
        <tr>
          <td class="table-time">
            8:00am
          </td>
          <td>
            Breakfast
          </td>
        </tr>
        <tr class="hacking-row">
          <td class="table-time">
            <strong>11:30am</strong>
          </td>
          <td>
            <strong>Hacking Ends</strong>
          </td>
        </tr>
        <tr>
          <td class="table-time">
            11:30am
          </td>
          <td>
            Lunch
          </td>
        </tr>
        <tr>
          <td class="table-time">
            1:00pm
          </td>
          <td>
            Science Fair/Expo Judging
          </td>
        </tr>
        <tr>
          <td class="table-time">
            2:30pm
          </td>
          <td>
            Final Judging and Closing Ceremony
          </td>
        </tr>
        <tr>
          <td class="table-time">
            5:00pm
          </td>
          <td>
            Buses Leave
          </td>
        </tr>
        </tbody></table>
      </div>
    </div>
  </div>
</div>